{% extends 'app/base.html' %}
{% load bootstrap4 %}

{% block title %}About{% endblock %}
{% block content %}
    <section class="jumbotron text-center">
    <div class="container">
      <h1>ABOUT US</h1>
      <p class="lead text-muted">Since 2009, the support and demand from our customers has driven us to become the market leader for both residential and large commercial air conditioning projects. We attribute our success to the high value we place on providing quality products, superior workmanship, open and honest communication, and teamwork.</p>
      <p>
      </p>
    </div>
  </section>

    <div class="row justify-content-center">

        <div class="col">
            <div class="card" style="padding:20px">
                <img src="https://ubcool.com.au/assets/components/phpthumbof/cache/3-6.steve.56bcfef408ad85d0cd3f7a91cf2dc686.jpg"
                     class="card-img-top" alt="...">
                <div class="card-body justify-content-center">
                    <h3>Steve Johnstone</h3>
                    <p>
                        With a focus on supportive leadership, team building, and results Steve oversees major projects and business development. With over 20 years of cooling and air conditioning experience, Steve works closely with the team to manage projects, uphold quality and safety standards, and spark innovation in the industry.
                    </p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="padding:20px">
                <img src="https://ubcool.com.au/assets/components/phpthumbof/cache/3-6.eyve.56bcfef408ad85d0cd3f7a91cf2dc686.jpg"
                     class="card-img-top" alt="...">
                <div class="card-body justify-content-center">
                    <h3>Eyve Johnstone</h3>
                    <p>
                        The hidden secret of the teams day-to-day operations, Eyve manages the office, job scheduling and finances of the company. Coming from a strong administrative background, Eyve ensures all communications between the team are handled effectively and promptly.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}