{% extends 'app/base_admin.html' %}
{% load bootstrap4 %}

{% block title %}Warranty quptes{% endblock %}

{% block content %}
    <div class="row" style="margin-top:60px;">
        <div class="col-12" style="margin-bottom:20px;">
            <a class="btn btn-primary" role="botton" href="{% url 'admin_warranty_quote_detail' %}">Add</a>
        </div>
        <div class="col-12">
            <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Product</th>
      <th scope="col">Company</th>
      <th scope="col">Serial</th>
      <th scope="col">Date of installation</th>
      <th scope="col">Under warranty</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
     {% for quote in quotes %}
             <tr>
              <td>{{ quote.name }}</td>
              <td>{{ quote.address }}</td>
              <td>{{ quote.phone }}</td>
              <td>{{ quote.email }}</td>
              <td>{{ quote.product }}</td>
              <td>{{ quote.company }}</td>
              <td>{{ quote.serial }}</td>
              <td>{{ quote.date }}</td>
              <td>
                {% if quote.under_warranty == 1 %}
                {{ 'Not sure' }}
                {% endif %}
                {% if quote.under_warranty == 2 %}
                {{ 'Yes' }}
                {% endif %}
                {% if quote.under_warranty == 3 %}
                {{ 'No' }}
                {% endif %}
              </td>
              <td>{{ quote.description }}</td>
              <td>
                  <span style="margin-right:20px"><a href="/admin/warranty_quote_detail?id={{ quote.id }}">Modify</a></span>
                  <span><a href="/admin/warranty_quote?del_id={{ quote.id }}">Delete</a></span>
              </td>
            </tr>
     {% endfor %}
  </tbody>
</table>
        </div>

    </div>


{% endblock %}